body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
}

/* NAVBAR Section */
.black-nav{
padding-left: 30px;
width: 100%;
height: 45px;
background-color: black;
display: flex;
}

.personal, .business{
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 75px;
  font-weight: 600;
  line-height: 45px;
}

.personal{
  background-color: rgb(224, 221, 221);
}
.business{
  color: white;
  transition:ease-in 0.3s;
}
.business:hover{
background-color: rgb(63, 63, 63);
}

.logo-nav{
  display: flex;
  background-color: gold;
  width: 100%;
  height: 60px;
  color: #0a4fb6;
  font-weight: 600;
  font-size: 15px;
}

.logo{
  padding: 20px 0 0 30px;
  width: 200px;
}
