body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
}

a{
  text-decoration: none;
  color: inherit;
}

/* NAVBAR Section */
.black-nav{
padding-left: 30px;
height: 45px;
background-color: black;
display: flex;
}

.personal, .business{
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 75px;
  font-weight: 600;
  line-height: 45px;
}

.personal{
  background-color: rgb(224, 221, 221);
}
.business{
  color: white;
  /* transition:ease-in 0.3s; */
}
.business:hover{
background-color: rgb(63, 63, 63);
}

.logo-nav{
  display: flex;
  background-color: gold;
  width: 100%;
  height: 60px;
  color: #0a4fb6;
  font-weight: 600;
  font-size: 15px;
}

.logo{
  padding: 20px 0 0 30px;
  width: 190px;
}

.nav-links{
  display: flex;
  justify-items: center;
  text-align: center;
}

.nav-links ul{
  display: flex;
  justify-content: center;
  height: 45px;
  padding: 0;
  margin: 0;
}

.nav-links li{
  list-style:none;
  padding: 0 20px 0 20px;
  height: 60px;
}
.nav-links a{
  line-height: 58px;
  text-decoration: none;
  color: inherit;
  display: block;
}

.nav-links a:hover{
  border-bottom: 3px solid #0a4fb6;
}

.log-btns{
  position: relative;
  float: right;
}

.log-in{
  float: right;
}

/* Main Image Section */

.main-image{
width: 100%;
height: 350px;
padding: 20px 0;
vertical-align: middle;
background-image: url(/images/header-image.jpg);
background-repeat: no-repeat;
background-position: center;
}

.heading{
  margin-left: 30px;
  color: white;
  width: 60%;
}

.heading h1{
  font-size: 3.8rem;
  margin-bottom: 10px;
}
.heading p {
  letter-spacing: 1.rem;
  margin-top: 0;
  font-size: 2.5rem;
  font-weight: 200;
}
.main-buttons{
  display: flex;
}

.main-buttons a{
  text-decoration: none;
  color: inherit;

}

.calc-btn{
  background-color: gold;
  /* transition: 0.3s; */
}
.calc-btn:hover, .life-btn:hover{
  background-color: #0a4fb6;
  color: white;
}

.calc-btn, .life-btn{
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 30px;
  border-radius: 3px;
  height: 55px;
  color: #0a4fb6;
  font-weight: 600;
  font-size: 15px;
}
.life-btn{
  background-color: white;
  /* transition: 0.3s; */
}

/* Production Icon Section */

.product-section{
  margin: 110px 15px;
  display: flex;
}

.prod-block{
  /* border: 0.1px solid black; */
  display: flex;
  justify-content: center;
  width: 20%;
  height: 300px;
  color: #0a4fb6;
}

.rb{
  border-right: 1px solid silver;
}

.ci-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.ci-img img{
  width: 75px;
  height: auto;
}

.headline{
  padding: 15px 0 20px 0;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline a{
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
}

.headline a:hover{
  transition: 0.3s ease-in;
  border-bottom: 1px solid blue;
}

.prod-btn{
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: center;
  border-radius: 3px;
  height: 55px;
  background-color: gold;
  color: #0a4fb6;
  font-weight: 600;
  font-size: 15px;
}

.prod-btn:hover{
  background-color: #0a4fb6;
  color: white;
  transition: ease-in-out 0.3s;
}

.prod-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.prod-links li{
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  list-style-type: none;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
}

.prod-links ul{
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.prod-links a{
  padding-bottom: 3px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 1px solid silver ;
  outline: none;
}

.prod-links a:hover{
  border-bottom: 1px solid #0a4fb6;
  transition: ease-in-out 0.3s;
}

/* All Products Section */

.all-products{
  margin: 0 30px;
  height: 80px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.all-prod-head{
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
/* background-color: slateblue; */
cursor: pointer;
}

.open{
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
  background-position: -4px 0;
  border-radius: 20px;
  border: 1px solid silver;
  background-color: white;
  background-image: url(/images/show-hide.svg);
}

.open:hover{
  background-color: #0a4fb6;
  background-position: -73px 0;
}

.vap{
  margin-left: 50px;
}

.vap-top{
  display: flex;
  flex-direction: row;
  padding-left: 65px;
}

.vap1{
  z-index: 23;
  border-right: 1px solid silver;
  height: 100%;
  padding-right: 90px;
  /* background-color: slateblue; */
}

.vap1 h1{
  color: rgb(70, 70, 70);
  font-size: 18px;
  font-weight: 600;
}

.all-links{
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  height: 0px;
  width: 100%;
  transition: ease-in-out 0.3s ;
}

.big{
  transition: ease-in-out 0.3s ;
  height: 500px;
  /* background-color: chartreuse; */
  border-bottom: 4px solid silver;
}

.hide{
  visibility: hidden;
  transition: linear 0.3s;
}

.vap-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  transition: linear 0.3s;
}

.vap-links li{
  letter-spacing: 0.04rem;
  line-height: 1.5rem;
  list-style-type: none;
  padding-top: 10px;
  align-items: left;
  justify-content: center;
}

.vap-links ul{
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.vap-links a{
  padding-bottom: 3px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border-bottom: 1px solid silver ;
  outline: none;
  color: #0a4fb6;
}

.vap-links a:hover{
  border-bottom: 1px solid #0a4fb6;
  transition: ease-in-out 0.3s;
}


/* Image Grid */

.img-grid{
  width: 100%;
  height: 300px;
  background-color: skyblue;
  margin: 100px 20px 0 20px;
}

.img-size{
width: 400px;
height: auto;
}